#heading {
    color: red
}

.header {
    display: flex;
    justify-content: space-between;
    /* When applied to a flex container using the display: flex property, justify-content: space-between creates equal spacing between the flex items, pushing the first item to the start edge and the last item to the end edge of the container */
    border: 1px solid blue;
    padding: 0px 20px;
    background-color: whitesmoke;
}

.logo {
    width: 150px;
    margin-top: 5px;
}

.nav_items>ul {
    display: flex;
    font-size: 24px;
}

.nav_items>ul>li {
    margin: 20px;
    list-style-type: none;
}

/* .body{

} */

.restro_card{
    height: 350px;
    width: 200px;
    padding: 0px 5px;
    background-color: #f0f0f0;
    text-align: center;
    color: blueviolet;
    margin: 2px;
    overflow: hidden;
    
}
.restro_card:hover{
    border: 1.5px solid blueviolet;
    cursor: pointer;
    
    
}
.search{
    padding: 10px;
}

.foodImg{
    height: 37%;
    background-color: aqua;

}
.restro_container{
    display: flex;
    /* By default, flex items will try to fit into a single line within the flex container. However, when you apply flex-wrap: wrap; to the flex container, it allows the flex items to wrap onto multiple lines if necessary, based on the available space. */
    flex-wrap: wrap;
    justify-content: center;
    
}

